<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Conditions</h1>
        <!--
        <h1>If Block</h1>
        {% if a > 100 %}
           <h1>inside If block</h1>
           <h1>{{a}}</h1>
        {% endif %}
        -->
        <!-- 
        <h1>If - Else Blocks</h1>

        {% if a > b %}
            <h1>a is Greaterthan b</h1>
            <h1>Inside If Block</h1>
        {% else %}
            <h1>b is Greaterthan a</h1>
        {% endif %}
        -->
    <h1>Nested Conditions</h1>

    {% if a > b %}
            {% if a > c %}
                <h1>a is Max</h1>
            {% else %}
                <h1>c is Max</h1>
            {% endif %}
    {% else %}
            {% if b > c %}
                <h1>b is Max</h1>
            {% else %}
                <h1>c is Max</h1>
            {% endif %}
    {% endif %}





    </center>
</body>
</html>